#four {
    width: 200px;
    height: 200px;
    border: 1px solid;
    color: #58fc49;
}

#five {
    width: 200px;
    height: 200px;
    border: 1px solid;
    color: #6ebbf7;
}

#six {
    width: 200px;
    height: 200px;
    border: 1px solid;
    color: #cf7e66;
}

#seven {
    width: 200px;
    height: 200px;
    border: 1px solid;
    color: #ba5851;
}

#eight {
    width: 200px;
    height: 200px;
    border: 1px solid;
    color: #ac775a;
}

#nine {
    width: 200px;
    height: 200px;
    border: 1px solid;
    color: #120dd7;
}

#ten {
    width: 200px;
    height: 200px;
    border: 1px solid;
    color: #9911e8;
}

#eleven {
    width: 200px;
    height: 200px;
    border: 1px solid;
    color: #de6f1f;
}

#twelve {
    width: 200px;
    height: 200px;
    border: 1px solid;
    color: #dd6b55;
}

#thirteen {
    width: 200px;
    height: 200px;
    border: 1px solid;
    color: #f48e1d;
}

#fourteen {
    width: 200px;
    height: 200px;
    border: 1px solid;
    color: #b348c6;
}

#fifteen {
    width: 200px;
    height: 200px;
    border: 1px solid;
    color: #1d8fc1;
}

#sixteen {
    width: 200px;
    height: 200px;
    border: 1px solid;
    color: #2c3432;
}

#seventeen {
    width: 200px;
    height: 200px;
    border: 1px solid;
    color: #4e882f;
}

#eighteen {
    width: 200px;
    height: 200px;
    border: 1px solid;
    color: #a4cded;
}

#nineteen {
    width: 200px;
    height: 200px;
    border: 1px solid;
    color: #f7d813;
}

#twenty {
    width: 200px;
    height: 200px;
    border: 1px solid;
    color: #5baf0b;
}
